<div class="trip-overview">
  <h1>Trip Overview</h1>
  <%= @itinerary.description %>
  <div class='d-flex align-items-center'>
    <i class="fas fa-map-marker-alt"></i>
    <h2 class="detail-header">Total Stops: <%= @itinerary.locations.count %> </h2>
  </div>

  <div class="d-flex align-items-center">
    <i class="far fa-clock"></i>
    <h2 class="detail-header">Total Trip Time: <%= duration(itinerary.duration) %>  </h2>
  </div>
  <div class="d-flex align-items-center">
    <i class="fas fa-tag"></i>
    <ul class="details-itinerary">
      <li>Trip Tags: </li>
      <% @itinerary.locations.each do |location| %>
      <li><%=location.tag_list%></li>
    <% end %>
    </ul>
  </div>
</div>
