<div class="banner-profile" class="background-img" style="background-image: url(https://res.cloudinary.com/dsgxgstvy/image/upload/v1583336976/yp95sgxwqvengyn1fwic.jpg);">
    <div class="heading-wrapper">
      <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="info">
              <div style="font-size: 2.0rem;">
              <i class="icon far fa-user"></i>
            </div>
              <div class="right-area">
                <h5>Green</h5>
                <h6>Parrot</h6>
              </div><!-- right-area -->
            </div><!-- info -->
          </div><!-- col-sm-4 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="info">
              <div style="font-size: 2.0rem;">
              <i class="icon fas fa-qrcode"></i>
              </div>
              <div class="right-area">
                <h5>27</h5>
                <h6>Male</h6>
              </div><!-- right-area -->
            </div><!-- info -->
          </div><!-- col-sm-4 -->
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="info">
              <div style="font-size: 2.0rem;">
              <i class="icon far fa-heart"></i>
               </div>
              <div class="right-area">
                <h5>Flying in the jungle</h5>
              </div><!-- right-area -->
            </div><!-- info -->
          </div><!-- col-sm-4 -->
      </div>
    </div>
  <div class="profile-img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwH86lHVa0eSuolUuJ2H7KTHqlH2YqqTn2QlcphyJr_4zJiI8E" alt="">
  </div>
</div>
