// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$_light_grey: rgb(229, 229, 229);
$_medium_grey: rgb(152, 157, 166);
$_dark_grey: rgb(126, 131, 134);


/* Color Theme Swatches in RGBA */
$_dark_blue: rgba(21, 51, 63, 1);
$_cream: rgba(242, 236, 220, 1);
$_light_orange: rgba(242, 159, 4, 1);
$_medium_orange: rgba(242, 135, 4, 1);
$_dark_orange:rgba(216, 92, 47, 1);



$_deep_blue: rgba(1, 80, 89, 1);
$_aqua: rgba(3, 165, 149, 1);
$_orange: rgba(242, 135, 4, 1);
$_burnt: rgba(242, 93, 38, 1);
$_red: rgba(242, 4, 4, 1);


