 .details-itinerary{
   margin: 0px;
  padding: 0px;

 }


.details-itinerary li {
  list-style: none;
  display: inline;
  margin: 5px;
  color: white;

}


.itinerary-user-details{
  display:flex;
  align-items: center;
  position: relative;
  float: right;
}

.trip-overview{
    width: 95%;
    height: 250px;
    margin: 0px auto;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    border-top: 3px solid $_medium_orange;
  h1 {
    font-size: 18px;
    color: white;
    padding: 8px 15px 1px 15px;
    font-weight: bold;

  }

  h2{
    font-size: 16px;
    margin: 0px;
    color: white;
    font-weight: bold;

    }

  h3{
    color: white;
    font-size: 16px;
    font-weight: bold;

  }

  p{
    padding-left: 15px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4.6em;
  }

}

.itinerary-icon{
  color: white;
  font-size: 20px;
  margin: 8px;
  padding: 0px;
}

// .itinerary-icon:hover{
//   font-size: 18px;
//   font-weight: bolder;
//   color: white;
// }


.detail-header li{
  font-size: 16px;
  font-weight: bolder;
  color: white;
  line-height: 1;
  font-family: 'Rubik', sans-serif;
  padding: 0px;
  margin: 0px;
}

.detail-header:hover{
  font-size: 18px;
  font-weight: bolder;
  color: $_db_lightblue;
}

.detail-header li:hover{
  font-size: 18px;
  font-weight: bolder;
  color: $_db_lightblue;
}
.itinerary-desription{
  padding-bottom: 60px;
}
