 .details-itinerary{
   margin: 0px;
  padding: 0px;
 }


.details-itinerary li {
  list-style: none;
  display: inline;
  margin: 5px;
}

.btn-message{
  width: 30%;
  font-size: 12px;
  position: relative;
  float: right;
}

.itinerary-user-details{
  display:flex;
  align-items: center;
  position: relative;
  float: right;
}

.trip-overview{
    margin: 0px 5px 0px 5px;
    padding: 5px;
    border-radius: 8px;
    background-color: white;
  h1 {
    font-size: 18px;
    font-style: italic;

  }

  h2{
    font-size: 16px;
    margin: 0px;
  }
}
