.details-itinerary li {
  list-style: none;
  display: block;
}

.btn-message{
  width: 30%;
  font-size: 12px;
  position: relative;
  float: right;
}

.itinerary-user-details{
  display:flex;
  align-items: center;
  position: relative;
  float: right;
}

