
<div class="home-video-wrapper">
  <%= video_tag "videofiltered.mp4", playsinline: 'true', autoplay: 'true', preload: 'true', loop: 'true', mute: 'true', class: "home_video" %>
  <div class="banner-content">
    <h1 class="home"> DayTripper <i class="fas fa-map-marker-alt" id="banner-marker-big"></i></h1>
    <div class="banner-name">
      <h2 id="bn-cta">Self-guided itineraries built by travellers like <strong><u>YOU.</u></strong></h2>
      <h3 id="bn-explore">Exploring has never been so easy. Search or build your trip today!</h3>
    </div>
      <div class="banner-user-option">

      <div class="d-flex justify-content-around align-items-center">
        <div class="search-form-control form-group banner-search">
          <%= simple_form_for :search, url: itineraries_path, method: :get do |f| %>
            <input class="form-control search-input string required" style="font-size: 16px;" type="text" name="search[query]" id="search_query" placeholder="Search daytrips by city, location, & interests..." />
            <button name="button" type="submit" class="btn btn-flat btn-banner-search">
              <i class="fas fa-search"></i> Search Trips</button>
            <% end %>
        </div>
        <div class="banner-build">
          <%= link_to new_itinerary_path do %>
            <button class="btn btn-primary btn-banner-build"><i class="fas fa-map-marked-alt"></i>  Build my Own</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


