
<div class="home-video-wrapper">
  <%= video_tag "videofiltered.mp4", playsinline: 'true', autoplay: 'true', preload: 'true', loop: 'true', mute: 'true', class: "home_video" %>
  <div class="banner-content">
    <h1 class="home"> DayTripper <i class="fas fa-map-marker-alt" id="banner-marker-big"></i></h1>
    <div class="banner-name">
      <h2 id="bn-cta">Self-guided itineraries built by travellers like <strong><u>YOU.</u></strong></h2>
      <h3 class="pt-1" id="bn-explore">Exploring has never been so easy. Search or build your trip today!</h3>
    </div>
      <div class="banner-user-option">

      <div class="d-flex justify-content-around align-items-center">
        <div class="search-form-control form-group banner-search">
          <%= simple_form_for :search, url: itineraries_path, method: :get do |f| %>
            <!-- <input class="form-control search-input string required" style="font-size: 16px;" type="text" name="search[query]" id="search_query" placeholder="Search daytrips by city, location, & interests..." /> -->
            <%= text_field_tag :query,
              params[:query],
              style: "font-size: 16px;",
              id: "search_query",
              class: "form-control search-input string required",
              placeholder: "Search daytrips by city, location, & interests..."
            %>
            <button name="button" type="submit" class="btn btn-flat btn-banner-search">
              <i class="fas fa-search"></i> Search Trips</button>
            <% end %>
        </div>
        <div class="banner-build">
          <%= link_to new_itinerary_path do %>
            <button class="btn btn-primary btn-banner-build"><i class="fas fa-map-marked-alt"></i>  Build my Own</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="card-text-header"><strong>EXPLORE</strong></p>
          <div class="card mb-4 card-mainpage" style="height: 25rem;">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.pexels.com/photos/708440/pexels-photo-708440.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <p class="card-text-description">Explore a new city or rediscover your own. It's that simple. Search DayTrippers database of single day itineraries built by our community of life experiencers, avid travellers, and local explorers.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p class="card-text-header"><strong>SHARE</strong></p>
          <div class="card mb-4 card-mainpage" style="height: 25rem;">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.pexels.com/photos/3874018/pexels-photo-3874018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <p class="card-text-description">Sharing is Caring. Our platform's mission is to unlock the "best day ever" for everyone which is only made possible by the collective.</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <p class="card-text-header"><strong>BUILD</strong></p>
          <div class="card mb-4 card-mainpage" style="height: 25rem;">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="https://images.pexels.com/photos/3775551/pexels-photo-3775551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
            <div class="card-body">
              <p class="card-text-description">Create your own trip. Our platform allows you to build your own trip. You can get a map of it on your phone or share it with friends, family and Daytripper's community. </p>
              <div class="d-flex justify-content-between">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
