<header>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/758744/pexels-photo-758744.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); height: 130vh">
  <div class="container" style="color: yellow">
    <div class="heading-wrapper">
      <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="info">
              <div style="font-size: 2.0rem;">
              <i class="icon far fa-user"></i>
            </div>
              <div class="right-area">
                <h5><%= current_user.username %></h5>
                <h6><%= current_user.username %></h6>
              </div><!-- right-area -->
            </div><!-- info -->
          </div><!-- col-sm-4 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="info">
              <div style="font-size: 2.0rem;">
              <i class="icon fas fa-qrcode"></i>
              </div>
              <div class="right-area">
                <h5>27</h5>
                <h6>Male</h6>
              </div><!-- right-area -->
            </div><!-- info -->
          </div><!-- col-sm-4 -->

          <div class="col-sm-6 col-md-6 col-lg-4">
            <div class="info">
              <div style="font-size: 2.0rem;">
              <i class="icon far fa-heart"></i>
               </div>
              <div class="right-area">
                <h5>Flying in the jungles</h5>
              </div><!-- right-area -->
            </div><!-- info -->
          </div><!-- col-sm-4 -->
      </div>
    </div>
  </div>
  <div class="profile-img">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRwH86lHVa0eSuolUuJ2H7KTHqlH2YqqTn2QlcphyJr_4zJiI8E" alt="">
  </div>
</div>
</header>
