<div class="error-page-container">
  <div class="paragraph">
    <h1>Something went wrong 😥</h1>
    <h2>Care to play a game while we try to solve the issue?</h2>
  </div>

  <div class="game">
    <canvas class="space" width="320" height="480"></canvas>
    <img src="<%= asset_path('logo.png')%>" alt="Wagon" id="wagon" style="display: none;">
  </div>
</div>
<%= javascript_pack_tag 'space_invaders' %>


