.home_video {
 width: 100%;
 height: 100vh;
 position: absolute;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
 margin-top: -56px;
}

.home-video-wrapper {
  height: calc(100vh - 52px);
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
h1 {
  font-size: 90px;
  font-weight: bold;
  color: $_light_orange;
  font-family: 'Gloria Hallelujah', ;
  text-align: center;
  text-decoration: underline;
  padding: 0px;
  }
  h2 {
    font-size: 64px;
    color: $_cream;
    font-weight: bold;
    text-align: center;
    // background-color: rgba(105, 143, 176, 0.3);
    padding: 5px;
    margin: 80px auto 0px auto;
    padding: 0px;
    width: 71%;
    word-spacing: 10px;
  }

h3 {
  color: white;
  font-size: 28px;
  margin: 0px;
  padding: 0px;
  }
}

.banner-content{
  position: relative;
  top: 50px;
}

.btn-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  .btn {
    padding: 15px 24px;
    font-size: 20px;
    font-weight: bold;
    margin: 100px 50px;
    width: 300px;
    border-radius: 5px;
    box-shadow: 2px;
    background-color: $_medium_orange;
  }
  h3 {
    margin: 100px 15px 0px 15px;
    font-size: 48px;
    color: $_cream;
    font-weight: bolder;
    text-align: center;

    }
}

#banner-marker-big {
  font-size: 70px;
  padding: 0px;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  right: 0px;
  font-weight: 24px;
  color: white;
  background-color: $_db_lightblue;
  vertical-align: center;
}

.search-form-control .form-control {
  height: 3.8rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.banner-search{
  // border-radius: 10px;
  // box-shadow: 1px 2px 1px $_db_lightblue;
  width: 100%;
}

.banner-user-option{
  position: relative;
  top: 65px;
  width: 80%;
  margin: auto;
  .banner-search{

  margin: 0px 60px;
  }
}

.btn-banner-search{
  width: 15rem;
  height: 3.8rem;
  position: relative;
  top: 0px;
  font-size: 24px;
  font-weight: bold;
}


.btn-banner-build{
background-color: $_medium_orange;
border: 0px;
height: 3.8rem;
width: 15rem;
font-size: 24px;
font-weight: bold;
}

.btn-banner-build:hover{
  background-color: $_deep_blue;
}

.btn-banner-search:hover{
  background-color: $_deep_blue;
}

#bn-explore{
  text-align: center;
  margin-bottom: 15px;
}


