
.banner-value-cards{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px;

}

.value-cards{
  background-color: $_db_lightblue;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px;
  height: 400px;
  width: 400px;
  padding: 25px 25px;
  text-align: center;
  vertical-align: center;

  h1{
    text-decoration: underline;
    }
  }

.card-mainpage{
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  color: rgba(3, 165, 149, 1);
}

.card-mainpage:hover {
  box-shadow: 0px 1px 4px rgba(0,0,0,0.5);
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.card-text-header {
  color: #0E0000;
  font-size: 25px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-text-header:hover {
color: rgba(3, 165, 149, 1);
transform: scale(1.05, 1.05);
}

.card-text-description {
color: #0E0000;
font-size: 16px;
}

