
.window-view{
  height: 100vh;
}
#itinerary-name {
  font-size: 20px;
  padding-right: 30px;
  font-weight: bolder;
}

.itinerary-icons {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 12px;
}

.card-location {
  overflow: hidden;
  height: 92px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 0px 20px 10px 10px;
}

.card-location img {
  height: 100vh;
  width: 110px;
  object-fit: cover;
}

.card-location h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;

}

.card-location-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-icons{
  display: flex;
  justify-content: right;
}
.card-location p {
  font-size: 10px;
  line-height: 1.4;
  padding: 0px;
  opacity: .7;

}

.card-location h3 {
  font-size: 12px;
}

.card-location .card-location-infos {
  margin: 3px;
  padding: 3px;
  width: 100%;
}

.card-location-infos {
  .fas{
    font-size: 12px;

  }
  .far{
  font-size: 12px;

  }
}

.max-lines {
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3em;
  line-height: 1.8em;
}

.card-snapshots{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0px;
}

.itinerary-locations-map{
  position: fixed;
  top: 10px;
  margin-left: 17px;
}

a {
 color: black;
}

 a:hover{
    text-decoration: none;
    color: $_dark_grey;
  }

  .fas {
  font-size: 24px;
  padding: 10px;
}

.far {
  font-size: 24px;
  padding: 10px;
}

.itinerary-details{
  margin: 10px;
}

#location-cards{
  height: 50%;
  overflow-y: auto;

}


