
.page-new-itinerary{
  padding-top: 5%;
}
.new-itinerary{
margin: auto;
padding: 40px 30px 40px 30px;

}

.new-itinerary-btn {
  width: 60%;
  padding: 20px 80px;
  text-align: center;
  }

.label{
  font-size: 24px;
  font-weight: bold;
  color: $_dark_grey;
  margin: 20px;
}

.new-itinerary-image {
  padding-left: 30px;
}
