// .location-form {
//   transform: translateX(-100%);
//   transition: transform 1s ease;
//   width: 80%;
// }

// .form-show {
//   transform: translateX(2%);
//   transform: scale(0.8);
// }

.btn-location-add{
  width: 50%;
  background-color: lightblue;
  color: white;
  margin: 10px 20px 10px 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.form-group{
  margin-left: 10px;
  margin: 0px;
  padding: 5px 20px 5px 20px;
    input{
  border-radius: 5px;
  box-shadow: 1px;
  width: 100%;
  }

}

.form-short-box{
  display: flex;
  justify-content: space-between;
  width: 450px;

}

.icon-form{
  font-size: 14px;
}

.form-container {
  padding-left: 20px;
}
