
.location-show-card {
  margin: 5px;
  text-align: center;
  h1{
font-size: 32px;
text-align: center;
margin-top: 10px;
  }
}

.exit-circle {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
}

.show-image{
height: 50vh;
width: 33vw;
}

.show-location-map{
  border-radius: 5px;
  box-shadow: 1px;
  margin-left: 20px;
  margin-top: 5px;
}

.show-details {
  display: flex;
  align-items: flex-end;
  h2{
  font-size: 18px;
  }
}

.show-details h1 {
  font-size: 20px;
}

.show-details i {
  padding: 0px;
  padding-right: 5px;
}
