// .location-form {
//   transform: translateX(-100%);
//   transition: transform 1s ease;
//   width: 80%;
// }

// .form-show {
//   transform: translateX(2%);
//   transform: scale(0.8);
// }

.btn-location-add{
  width: 90%;
  background-color: blue;
  color: white;
  margin: 10px;
}

.form-group{
  margin-left: 10px;
  margin: 0px;
  padding: 5px;

}

.form-short-box{
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.icon-form{
  font-size: 14px;
}
