.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.the-map {
  transition: transform 1s ease;
}

.the-map-active {
  transform: translateX(100%);
}

#instructions {
  transition: all 1s ease;
}

.instructions-active {
  transform: translateY(-500%);
}

#instructions {
  width: 60% !important;
  height: 10%;
  box-shadow: 0 10px 10px grey;
  border-radius: 10px;
  text-align: center;
}
