.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand {
  margin: 0;
}

.logo-font {
  font-family: $logo-font;
}

.logo-container {
}

.nav-transparent {
  background: transparent;
}
