.review-form {
  position: absolute;
  transform: translateY(-600%);
  width: 50%;
  transition: transform 1s ease;

}

textarea {
  resize: none;
}

.review-form-active {
  transform: translate(40%, -260%) scale(1.0);
}


