.timeline-entrance {
  border-left: 8px solid blue;
  height: 104px;
  position: absolute;
  right: 0%;
  margin-right: 6px;
  top: 0;
}

.timeline-circle {
  position: absolute;
  right: -21.5px;
  top: 23px;
  color: lightblue;
  font-size: 30px;
}
